<div class="col-md-3">
  <h1>マイページ</h1>
<table class = "table">
  <tbody>
    <tr>
      <th> 氏名 </th>
      <th> <%= @customer.last_name %>
           <%= @customer.first_name %>
      </th>
    </tr>
      <th> カナ </th>
      <th> <%= @customer.last_name_kana %>
           <%= @customer.first_name_kana %>
      </th>
    <tr>
      <th> 郵便番号 </th>
      <th> <%= @customer.postal_code %> </th>
    </tr>
</tbody>
</table>