<h2>ショッピングカート</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th colspan = "3"></th>
    </tr>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
    <tr>
    <td><%= cart_item. %></td>
    <td><%= cart_item. %></td>
    <td><%= cart_item.amount %></td>
    <td><%= cart_item. %></td>
    </tr>
  <% end %>
  </tbody>
</table>

 <tr>
 <td><%= link_to public_item_path(@public_cart_item.id) do %>
     <%= image_tag @item.get_item_image(100, 100) %>
     <%= @item.name %>
 </td>
   <% end %>
  <td><%=  link_to @book.title, book_path(@book.id) %></td>
  <td><%= @book.body %></td>
  <% if @book.user == current_user %>
  <td> <%=  link_to "Edit", edit_book_path(@book.id) %></td>
  <td> <%= link_to "Destroy", public_cart_item_path(@public_cart_item.id), method: :delete, data: {confirm: "本当に消しますか？"} %></td>
  <% end %>
  </tr>
  
  <td> <%=  link_to "情報入力に進む", new_public_order_path %></td>